@import "variables";

body{
    background-color: $primary-color;
    font-family: $font-family;
    margin: 0;
    padding: 0;
}


h1{
    color: $secondary-color;
    font-size: 6vw;
    font-family: $font-family;
    text-align: center;
}


main {
    padding-bottom: 60px;
}

