@import '../otros/mixins';
@import '../otros/comunes';

.formusuario {
  label {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
  }

  input,
  textarea {
    @extend %input-base;
  }

  button {
    @include boton-estilo;
    margin-left: 1rem;

    &:hover {
      background-color: #010003;
    }
  }
}

