@import '../otros/mixins';
@import '../otros/comunes';

.formusuario {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;

  label {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  input,
  textarea {
    @extend %input-base;
  }

  button {
    @include boton-estilo;
    margin-top: 1rem;

    &:hover {
      background-color: #010003;
    }
  }
}