.container-principal {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: white;
  margin: 20px 0;

  img {
    width: 40%;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid black;
  }

  .textoindex {
    font-size: clamp(1rem, 2vw, 1.5rem);
    max-width: 700px;
    text-align: justify;
  }
}
