/* Estilos para el pagina principal */

.conteiner-principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #2e0d78;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: white;
}

.item img {
    width: 40%;
    height: 50%;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

.item p {
    font-size: 16px;
    max-width: 600px;
    text-align: justify;
}
