// Estilos para la página principal

.container-principal {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: white;

  img {
    width: 40%;
    height: 50%;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid black;
  }

  p {
    font-size: 3vb;
    max-width: 800px;
    text-align: justify;
  }
}
